{% extends 'base.html' %}

{% block title %}Crear Nuevo Artículo{% endblock %}

{% block content %}
    <div class="header">
        <h1>Crear Nuevo Artículo</h1>
        <a href="{% url 'post_list' %}" class="btn btn-secondary">Volver a la lista</a>
    </div>

    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Crear Artículo</button>
            </div>
        </form>
    </div>
{% endblock %}


</form>